page-splash {
	.splash-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		.logo {
			height: 12rem;
			margin-bottom: 2rem;
			img {
				max-height: 100%;
			}
		}
	}
}
